/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); */
@import url('https://fonts.googleapis.com/css?family=Mali:600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Mali', cursive;
}

body {
  background-color: #ef7168;
  color: white;
  padding-top: 10%
}

#logo {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}