/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); */
@import url('https://fonts.googleapis.com/css?family=Mali:600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Mali', cursive;
}

body {
  background-color: #ef7168;
  color: white;
}

#welcome {
 text-align: center;
 padding-top: 5vh;
}

#soon {
  text-align: center;
  padding-top: 5vh;
}